.nav-container {
    background: #090341;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: 60px;
}

.navLinks {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-right: 10px;
}

.navLinks .links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
}

.navLinks .links:hover {
    border-bottom: 2px solid #6846da;
}

.formContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    font-size: 17px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    width: 300px;
    transition: all 0.3s ease;
    background: rgb(170, 169, 169);
}
.search:focus {
    background: white;
}

.icono {
    color: white;
    font-size: 34px;
    padding-left: 9px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
}

.page {
    padding: 7px;
    background: #301588;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    min-width: 30px;
    min-width: 31px;
    min-height: 10px;
    min-height: 11px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    color: white;

}

.disabled {
    cursor: not-allowed;
}

.active {
    border: 2px solid #fff;
    font-weight: bold;
}

.previous {
    padding: 7px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.break {
    padding: 7px;
}

.next {
    padding: 7px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}
